/*** uncss> filename: hdr/oldcss/extra.css ***/

/*
  Contains width and height code and some basic positioning for each DIV in the grid.(margins ,float, etc.) You only need to touch this file if you are changing the width or height of DIVS in pages or basic positioning of the DIVS.
   Please see style.css for more comprehensive styling changes.
*/

.no-gutter [class*='col-'] {
  padding-right: 1px;
  padding-left: 1px;
}

/* Container
----------------------------------------------------------------------------------------------------*/
.wrapper{
	margin-left:auto; /*was auto*/
	margin-right:auto; /*was auto*/
	position:relative;
	width:1316px;
	/*had width:1260px;*/
	}
	
.container-fluid {
  margin-left: 1px;
  margin-right: 1px;
}

.desktopHeaderWrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-width : 1260px;
}
  .row {
    /*in desktop when wrapper is fixed no need for row -15 margin */
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media ( min-width : 1260px) {
  .desktopHeaderWrapper {
    width: 1260px;
  }
}

/* GLOBAL FOOTER Layout. Begin--------------------------------------------------------------------------------------------------------------------------------*/

/* `Grid >> Header
----------------------------------------------------------------------------------------------------*/

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

/* This ID changes the background image for the inner pages. Use this ID for all pages except the homepage. Place in the body tag (i.e <body body id="innerPage">)--------------------------------------------------------------*/

/* `Grid >> Global content for  Grid DIVS
------------------------------------------------------------------START----------------------------------*/

/* `Grid >> Global content for  Grid DIVS
--------------------------------------------------------------------END--------------------------------*/

/* Main NAV
----------------------------------------------------------------------------------------------------*/

/* Details Visual Page layout. Begin---------------------------------------------------------------*/

/* Details Visual Page-Standard layout. Begin---------------------------------------------------------------*/

/* List Visual Gallery Page-Standard layout. Begin---------------------------------------------------------------*/

/* Landing Page Standard Layout. Begin--------------------------------------------------------------------------------------------------------------------------------*/

/* Landing Page (Visual) Layout. Begin--------------------------------------------------------------------------------------------------------------------------------*/

/* Begin List Page Std Layout  *******************************/

/* End List Page Std Layout  **********************************/

/* `Push Space >> 12 Columns ( use if you need to push a div)*/

/* `Pull Space >> 12 Columns ( use if you need to pull a div)
----------------------------------------------------------------------------------------------------*/

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.desktopHeaderWrapper:before,
.desktopHeaderWrapper:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.desktopHeaderWrapper:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.desktopHeaderWrapper {
  zoom: 1;
}

/* Basic jQuery Slider essential styles */

/*
 * Search.css
 *
 * Color Scheme:
 *
 *   Navy blue font color: 041C5D
 *   Grey font color: 333333
 *   Darker background: E7E7E7
 *   Lighter background: F2F2F2
 *   Button background: D7D7D7
 *
 */


/***********************
 * Type Ahead drop down
 ********************/


/*************************
 * NAICs
 *************************/

/*************************
 * Infopanel
 *************************/

/*************************
 * Dynamic Navigation
 *************************/

/*************************
 * Quick Answers
 *************************/

/*************************
 * Best Bets
 *************************/

/*************************
 * Organic results
 *************************/

/*************************
 * END Organic results
 *************************/

/*************************
 * Image/Video results
 *************************/

/* new 12/14*/

/* new 12/14*/

/*************************
 * Twitter
 *************************/

/*************************
 * Disambig
 *************************/

/*************************
 * Paging
 *************************/

/* MEDIA QUERIES */

/* style.css */
/****
#desktopHeader {
  font: normal 13px Arial, sans-serif;
  color: #333;
  font-size: 100%;
  height: auto;
/*  padding-bottom: 20px;*/
}
****/

/* - Merged with rule line # 57 - 62 */

/* - Merged with the CSS rule found just below*/

/* - Bringing out the common things of h2 and h3...*/
/***
#desktopHeader p {
  font: small Arial,Verdana,sans-serif;
  overflow: hidden;
  margin-bottom: 8px;
  padding-right: 0;
  text-align: left;
}
***/
/* Details Visual Page STYLES. Begin------------------------------------------------------------------------------------------------------------*/

/* ie7 hack */

/* Details Visual Page-standard STYLES. Begin EDITED 1-8-13------------------------------------------------------------------------------------------------------------*/

/*Begin EDITED 1-8-13------------------------------------------------------------------------------------------------------------*/

/*END EDITED 1-8-13------------------------------------------------------------------------------------------------------------*/

/* List Visual Gallery Page-Standard layout. Begin--------------------------------------------------------------------------------------*/

/* List Visual Gallery Page-Standard layout. END-------------------------------------------------------------------------------------*/

@-moz-document url-prefix()  {
  .desktopHeaderWrapper .grid_subData li {
    text-indent: -1.2em;
  }
}
@-moz-document url-prefix()  {
  .attachmentAnchor {
    margin-left: -.6em;
  }
}

/* Skip Nav option. 508 compliance*/

.offscreen {
  position: absolute;
  left:     -999px;
  z-index:  50000;
  overflow:  hidden;
  font-size: 2pt;
}
/* triple banking styles */

@charset "utf-8";


/*--WHEN JAVASCRIPT IS DISABLED--*/

/*--GLOBAL STYLES FOR USE WHEN JAVASCRIPT IS BOTH ENABLED AND DISABLED--*/

/*--STYLE ELEMENTS OF THE DROPDOWN MENUS--*/
/****
#desktopHeader ul li {
  width: auto;
  list-style: none;
  margin: 0;
  list-style-position: inside;
}
****/
/* Added 9/17 */

/* ADD additional rollover images here **************************/

/* new subnavigation CSS added 10-26-12 */

/*Use leftsubpic when nav is flipped and your image display is on the left and content on the right*/

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
/***
#desktopHeader {
  font: 13px/1.5  Arial, Verdana, sans-serif;
}
***/
/* `Headings
----------------------------------------------------------------------------------------------------*/

/* `Spacing
----------------------------------------------------------------------------------------------------*/
/****
#desktopHeader ul {
  list-style: square;
  color: rgb(51,51,51);
  margin: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
  list-style-position: inside;
}

#desktopHeader li {
  margin-left: 0px;
}

#desktopHeader p,
#desktopHeader ul,
#desktopHeader fieldset {
  margin-bottom: 0px;
  /*changed from 20px to 0 on 9-28-12*/
}
****/
/* Styles for content TOP elements such as section, page titles, author, pub dates, social links */

/* Social Links STYLES. ------------------------------------------------------------------------------------------------------------*/

/* check visualTitles */

