/*
 * Search.css
 *
 * Color Scheme:
 *
 *   Navy blue font color: 041C5D
 *   Grey font color: 333333
 *   Darker background: E7E7E7
 *   Lighter background: F2F2F2
 *   Button background: D7D7D7
 *
 */


/***********************
 * Search box in header
 ********************/

.searchbox label {
   display: inline;
   max-width: 10px;
   margin-bottom: 0px;
   font-weight: normal;
	
}


.searchbox input {
   background-image: url('/etc/designs/census/images/search_icon.svg');
   background-repeat: no-repeat;
   /*background-color: #B7C0CA;*/
   background-color: #CFD5DC;
   background-position: 97% 50%;
   width: 152px;
   height: 22px;
   /*float: right; per Mahyar's advice on 1/4/2018 Seems its a little bit off on IE*/
   color: #112E51;
   margin-top:-3px;
   margin-right: 0px;
   font-size: 11px;
    text-indent: 2px;
    margin-left:-8px;
    border-radius: 0px;
    border-style: none;
	
}

input[type=text]:focus {
}

.searchbtn input {
  background-image: url('/etc/designs/census/images/search-btn.png');
  background-repeat: no-repeat;
  color: #a8a8ab;
  margin-top: 10px;
  width: 20px;
  height: 25px;
  border: 0;
  float: right;
  cursor:pointer;
  line-height: 999px; /*Set it higher than your image height */
  overflow: hidden; /*Hide the text */
  font-size: 0; /* FF2 doesn t like the above */
}

/***********************
 * Search form
 ********************/

.ui-widget-header .ui-icon { /* ONLY FOR DEMO */
    background-image: url('/etc/designs/census/images/ui-icons_222222_256x240.png');
}

#searchFormContainer{
    margin-bottom: 10px;
    padding-bottom: 0px;
	
}

#searchTooltipLink {
    cursor: pointer;
    padding-top: 5px;
    padding-left: 10px;
    display: block;
    float: left;
    color: #0095A8;
}

#searchTooltip {
    display:none;
    background-color: #F2F2F2;
    height: 170px;
    width: 455px;
    max-width: 455px;
    font: small Arial,Verdana,sans-serif;
    /*padding-bottom:10px;*/
    padding-top: 0px;
    padding-left: 0px;
}

.searchTooltipWidget {
    /*padding: 0 0 0 0;*/
}

.searchTooltipWidget .ui-widget-header {
    border: none;
    background: #F2F2F2;
}
.searchTooltipWidget .ui-dialog-title {
    /*margin-left: 120px;*/
    font: small Arial,Verdana,sans-serif;
    font-weight: bold;
 }

.ui-autocomplete{
    /* need to figure out why this is setting to 1 */
    z-index: 10000 !important;
}

div.ui-dialog-titlebar span.ui-dialog-title a.ui-state-focus {
    background: #F2F2F2;
    url('/etc/designs/census/images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x !important;
}

#searchInputBox {
    float: right;
	
 }

#searchInput, #searchFormContainer #searchbox, #sissearchbox{
    color: #6D6D6D;
    font-size: 12px;
    line-height: auto;
    font-weight: normal;
    width: 152px;
    height: 25px;
    padding-left: 0px;
    background-image: url("/etc/designs/census/images/search-bg.png");
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
}

#searchButtonBox {
    border:   0 none;
    color:    #A8A8AB;
    cursor:   pointer;
    margin-top: 0px;
    overflow: hidden;
    float: left;
}

#searchButtonBox, #searchButton {
    width: 20px;
    font-size: 0;
    height: 25px;
    background-image: url("/etc/designs/census/images/search-btn.png");
    background-repeat: no-repeat;
}

#searchResultsTitleRow {
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
}
#searchResultsTitle {
    margin: 0;
    float: left;
}

#searchResultsNumber{
    text-align: right;
    padding: 10px 0px;
}

.grid_content_searchPageAbstractHeader a {
    color: #0095A8;
}

/***********************
 * Type Ahead drop down
 ********************/
.ui-menu .autocomplete-instant-answer.ui-menu-item {
    /*background-color: #F2F2F2;*/
    background-color: #FFFFFF;
    padding: 10px 0 10px 0;
}

.ia-header{
    color: #161A60;
    font: bold medium Arial,Verdana,sans-serif;
    padding: 0 0 5px 5px;
}

.ia-stat-value{
    /*padding: 0 0 2px 10px;
    font: bold medium Arial,Verdana,sans-serif;*/
    padding: 10px 0 10px 10px;
    font-size: 21.92px;
    font-weight: bold;
    color: #112E51;
}

.ia-label{
    padding: 0 0 2px 10px;
    /*font: bold small Arial,Verdana,sans-serif;
    color: #000000;
    font-weight: bold;*/
    color: #112E51;    
    font-size: 15.66px;
    line-height: 18.79px;
    letter-spacing: 0.39px;
}

.ia-label .ia-stat{
    /*font-style: italic;*/
}

.ia-system{
    padding: 0 0 0 10px;
}

.ui-menu .ui-menu-item .ia-system a{
    /*font: italic bold small Arial,Verdana,sans-serif;
    color: #112E51;
    text-decoration: none;
    padding: 0;*/
    text-decoration: none;
    padding: 0;
    color: #112E51 !important;
    font-size: 12.53px;
    letter-spacing: 0.31px;
    font-weight: normal;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    /*background: #1489b2 url('/etc/designs/census/images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x !important;*/
    font-weight: bold;
    cursor: pointer;
}

ul.ui-autocomplete li.ui-menu-item a.ui-state-focus {
    background: #F2F2F2 url('/etc/designs/census/images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x !important;
    color: black !important;
}

.ui-autocomplete-category {
    /*font-weight: bold;
    padding: 2px 0 1px 1px;
    margin: 2px 0 1px 1px;
    line-height: 1.5;
    text-align: left;
    color: #161A60;*/
    font-weight: bold;
    padding: 15px 0 1px 7px;
    margin: 2px 0 1px 1px;
    line-height: 1.5;
    text-align: left;
    color: #112E51;
    font-size: 15.66px;
    letter-spacing: 0.34px;
}

.ui-menu .ui-menu-item {
    padding-left: 2px;
}

#ui-active-menuitem{
     cursor: pointer;
}

/*Newly added type aheads*/
.ui-menu .ui-menu-item a {
    /*display: block;
    font-weight: normal;
    line-height: 1.5;
    padding: 2px 0.4em;
    text-decoration: none;*/
    display: block;
    font-weight: normal;
    line-height: 1.5;
    padding: 2px 0.4em;
    text-decoration: none;
    font-size: 15.66px;
    color: #112E51 !important;
    letter-spacing: 0.34px;
}

.ui-autocomplete { position: absolute; }

.ui-autocomplete.ui-menu .ui-menu-item a {
    color: #222;
}


/********************
 * Search Results
 ********************/

#searchResults .panel-group {
    margin-bottom: 0px;
}

#searchContainer {
    display: inline-block;
    margin: 5px 0 0 167px;
    min-height: 100%;
    width: 822px; /* was 800px */
}

/*************************
 * NAICs
 *************************/

#naicsContainer .panel-title,
#infoPanelContainer .panel-title,
#disambiguationGroup .panel-title {
    padding-left: 10px;
}

#naicsContainer, #infoPanelContainer {
    border: 1px solid #0c6291;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#naicsHeader{
    background: url("/etc/designs/census/images/demo-container-bg.png") no-repeat -350px 0 #112E51;
    padding: 5px 5px 5px 10px;
    text-align: left;
}

.naicsTitle{
    color: #fff;
    font: bold 1.385em Arial,Verdana,sans-serif;
}

#naicsBody{
    border: 0px;
    margin: 5px 10px 5px 10px;
}

.naicsDetail{
    padding: 3px 0 5px 0;
}

.detailLeft {
    width: 50px;
    clear: left;
    float: left;
}

.detailRight {
    width: 165px;
    float: right;
}

.naicsMore{
    border-top: 1px #CCCCCC solid;
    text-align: right;
    padding: 10px 3px 5px 10px;
    margin: 10px 0 0 0;
}

/*************************
 * Infopanel
 *************************/


#infoPanelHeader{
    /*background: url("/etc/designs/census/images/demo-container-bg.png") no-repeat -350px 0 #0c6291;*/
    background-color: #112E51;
    padding: 5px 5px 5px 10px;
    text-align: left;
}

.iphtitle{
    color: #fff;
    font: bold 1.385em Arial,Verdana,sans-serif;
}

.iphgeoTitle{
    color: #fff;
    font: bold 1.231em Arial,Verdana,sans-serif;
}

#infoPanelBody{
    border: 0px;
}

.infoPanelDetail{
    padding: 3px 3px 5px 3px;
    border-bottom: 1px solid #CCC;
    margin-left: 5px;
    margin-right: 5px;
}

.ipTitle{
    color: #161A60;
    font: bold 0.875em Arial,Verdana,sans-serif;
}

.ipValue{
    padding: 3px 0 0 0px;
    color: #000;
    font: bold 1.125em Arial,Verdana,sans-serif;
}

.ipDesc{
    color: #000;
    font: 1.00em Arial,Verdana,sans-serif;
}

.ipSrc{
    padding: 3px 0 0 0;
    /*color: #112E51;*/
    color: #0095A8;
    font: bold italic 0.846em Arial,Verdana,sans-serif;
}

.ipSrc a {
    color: #0095A8;
}

.ipshowbtn{
    float: right;
    border: 1px solid #000;
    margin: 5px 5px 5px 5px;
}




/*************************
 * Dynamic Navigation
 *************************/
#dynamicNavBody{
    padding: 5px 0 5px 0;
    border: 1px solid #F2F2F2;
}

.dynamicLinksHeader{
    color: #161A60;
    font: bold 1.1em Arial,Verdana,sans-serif;
    padding: 0px 0px 0 10px;
}

.dynamicNavItem{
    padding: 5px 5px 3px 3px;
    text-align: right;
    border-bottom: 1px solid #F2F2F2;
    margin: 0 10px;
}


/*************************
 * Quick Answers
 *************************/
.quickAnswerContainer {
    background-color:#f2f2f2;
    margin: 0px 0 10px 0;
    padding: 10px 0 10px 10px;
}

.quickAnswerContainer .qaTitle{
    color: #161A60;
    font: bold 1.00em Arial,Verdana,sans-serif;
    padding: 0 0 5px 0;
}

.quickAnswerContainer .qaValue{
    padding: 0 0 5px 0;
    color: #000000;
    font: bold 1.5em Arial,Verdana,sans-serif;
}

.quickAnswerContainer .qaSource{
    color: #112E51;
    font: italic bold small Arial,Verdana,sans-serif;
    padding: 0;
    text-decoration: none;
}

.vizListContainer  {
    margin-top: 20px;
    padding: 0px;
}

.vizListTitle  {
    font-size: small;
    font-family: Arial, verdana, sans-serif;
}

.vizList li {
    border-top: 1px solid #d9d9d9;
    margin: 5px 10px 0 0;
    padding: 5px 0 0 0;
    text-align: right;
    line-height: 30px
}

.vizLine span  {
    font-style: normal;
    font-size: medium;
    font-weight: normal;
    color: #404040;
}

.vizLineTitle {
    float : left;
    vertical-align: middle;
}

.vizLine  a  {
    display: inline-block;
    padding-left: 35px;
    padding-right: 20px;
    color: #404040;
    background-repeat : no-repeat;
    background-size: 30px;
}

.vizLine a:hover  {
    text-decoration: underline;
    color: #404040;
}

.vizChartLink {
    background-image: url("/etc/designs/census/images/VizChartInactive.png") ;
}

.vizChartLink:hover {
    background-image: url("/etc/designs/census/images/VizChartActive.png") ;
    cursor: pointer ;
}

.vizTableLink {
    background-image: url("/etc/designs/census/images/VizTableInactive.png") ;
}

.vizTableLink:hover {
    background-image: url("/etc/designs/census/images/VizTableActive.png") ;
    cursor: pointer ;
}


/*************************
 * Best Bets
 *************************/
#bestbetscontainer{
    background-color:#f2f2f2;
    padding: 10px 10px 10px 10px;
}

#bestbetscontainer .label{
    color: #161A60;
    font: bold medium Arial,Verdana,sans-serif;
    padding: 5px 5px 0px 5px;
}

.bestbetTitle{
    padding: 5px 0 0 0;
    font: bold medium Arial,Verdana,sans-serif;
}

.bestbetDesc{
    padding: 5px 0 0 0;
    font: normal small Arial,Verdana,sans-serif;
}

.bestbetUrl{
    padding: 5px 0 0 0;
    font: italic bold small Arial,Verdana,sans-serif;
}

/*************************
 * Data Tools
 *************************/
#datatoolscontainer{
    background-color:#f2f2f2;
    padding: 10px 10px 10px 10px;
}

#datatoolscontainer .label{
    color: #161A60;
    font: bold medium Arial,Verdana,sans-serif;
    padding: 5px 5px 0px 5px;
}

.datatoolcontainer .outerBox{
    /*width:260px;
    height:260px;*/
}

.datatoolcontainer .outerBox img{
    /*max-width:260px;
    max-height:260px;*/
}

.datatoolsTitleMain{
    padding: 5px 0 0 0;
    background-color:#f2f2f2;
    font: bold large Arial,Verdana,sans-serif;
}

.datatoolsTitle{
    padding: 5px 0 0 0;
    font: bold medium Arial,Verdana,sans-serif;
}

.datatoolsDesc{
    padding: 5px 0 0 0;
    font: normal small Arial,Verdana,sans-serif;
}

.datatoolsUrl{
    padding: 5px 0 0 0;
    font: italic bold small Arial,Verdana,sans-serif;
}


/*************************
 * Organic results
 *************************/

.grid_search_resultsContainer{
    margin-left: 0px;
    width: 100%; /* was 550px */
}

.wrapper .grid_content_search_resultsList{
    width: 100%; /* was 528px */
    margin-left: 0px;
}

.wrapper .grid_content_searchPageAbstractHeader{
    font: small Arial,Verdana,sans-serif;
    color:#2481A6;
}

.wrapper .grid_content_searchPageAbstractHeaderAnswers{
    font: medium Arial,Verdana,sans-serif;
    padding: 7px 0 5px 7px;
    font-weight: bold;
    color:#161a60;
}

.wrapper .grid_content_searchPageAbstractTextQuick{
    padding: 0 0 0 5px;
}

.wrapper .grid_content_searchPageAbstractText{
    width:100%;
    font: small Arial,Verdana,sans-serif;
    color:#030920;
    padding-top:6px;
}

.wrapper .grid_content_searchPageAbstractText a {
    font: x-small Arial,Verdana,sans-serif;
    font-weight:bold;
    word-break: break-word;
    color: #0095A8;
}

/*************************
 * END Organic results
 *************************/

/*************************
 * Image/Video results
 *************************/

#mediaResults ul{
   list-style-type: none;
}
#mediaResults ul li {
   float:left;
   margin: 0px 10px 0px 0px;
}

.galleryMediaTop{
    height: 5px;
}

.galleryMediaCenter {
    padding: 0px;
    height: 250px; /* allows 40px in caption */
    width: 250px;
    border: 1px solid #ccc;
}

/* new 12/14*/
.galleryMediaCenter:hover {
    background-color: #F2F2F2;
}

/* new 12/14*/
.galleryMediaCenter span {
    height: 65px;
    width: 250px;
    vertical-align: top;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell;
    border-top: 1px solid #ccc;
}

.galleryMediaCenter img {
    height: 178px !important;
    width: 248px !important;
}

.galleryMediaBottom {
    height: 5px;
}

.searchMedia{
    width:246px;
    height: 165px;
    padding: 0px;
}

#mediaResults ul li p{
    color: #041C5D;
    font: small Arial,Verdana,sans-serif; /* was x-small */
    margin-top: 0;
    text-align: left;
    font-weight: bold;
}

#mediaResults ul li a:hover{
    cursor: pointer;
    text-decoration: none;
}

#mediaResults ul li a:hover p{
    /*color: #F27604;*/
}

.videoFrame{
    width: 246px; /* was 219 */
    height: 165px; /* was 151 */
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0,.5);
}
#lightbox iframe {
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    max-width: 640px;
    margin-top: 2px;
}

#lightbox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
    margin-top:20px;
}

#lightbox #content {
    position:absolute;
    width:645px;
    height:485px;
    top:20%;
    left:38%;
    background-color: rgb(255, 255, 255);
    -moz-box-shadow: 0px 3px 3px #818493, 3px 3px 3px #818493, -3px 3px 3px #818493;

    -webkit-box-shadow: 0px 3px 3px #818493, 3px 3px 3px #818493, -3px 3px 3px #818493;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#818493')";
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#818493')";
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=270, Color='#818493')";
    border-radius: 3px;
    box-shadow: 0px 3px 3px #818493, 3px 3px 3px #818493, -3px 3px 3px #818493;
}

/*************************
 * Twitter
 *************************/
.twitterList li {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #808080;
}

.handleInfo a{
    color: #041C5D;
    font: bold 1.3em Arial,Verdana,sans-serif;
}

.handleInfo span{
    padding: 0 0 0 5px;
    color: #808080;
    font: bold 1.1em Arial,Verdana,sans-serif;
}

.tweetText{
    padding: 5px 0 5px 0;
    font: normal 1.1em Arial,Verdana,sans-serif;
}

.tweetCreated{
    color: #808080;
    font: bold .9em Arial,Verdana,sans-serif;
}



/*************************
 * Disambig
 *************************/
.disambiguation{
    width: 100%;
}

.geoIdent{
    margin: 5px 0 10px 0;
    padding: 3px 0 5px 0;
}

.disambigArrowRight{
    width: 0px;
    height: 0px;
    border-style: solid;
    float: left;
    margin: 2px 12px 2px 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8.7px solid #ffffff;
}

.disambigArrowDown{
    width: 0px;
    height: 0px;
    border-style: solid;
    float: left;
    margin: 3px 12px 2px 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8.7px solid #ffffff;
}

.geoIdent span span{
    font-style: italic;
}

.geoIdent img{
    padding: 0 3px 0 0;
}

.disambiguation{
    margin: 0 0px 10px 0;
}

#disambigSelect{
    font: bold 1.1em Arial,Verdana,sans-serif;
    color: #FFF;
    padding: 5px 3px 4px 10px;
    background-color: #041C5D;
    cursor: pointer;
    margin: 10px 0 0 0;
}
.arrowIcon{
    background-image: url('/etc/designs/census/images/ui-icons_ffffff_256x240.png');
    background-color: white;
}

.arrowRight{
    background-position: -40px -22px;
}

.arrowDown{
    background-position: -40px -22px;
}

#disambiguationList {
    padding-bottom: 10px;
    list-style-type: none;
}


.disambigList .disambigListItem {
    margin: 7px 10px 0 7px;
}

.disambigList .disambigListItem div{
    padding: 5px 0px 5px 0px;
    font: bold 1.25em Arial,Verdana,sans-serif;
}

.disambigList .disambigListItem ul{
    padding: 0px 0px 0px 7px;
    font: bold 1.25em Arial,Verdana,sans-serif;
}

.disambigList .disambigListItem ul li{
    font: small Arial,Verdana,sans-serif;
    text-transform: capitalize;
    line-height: 25px;
    margin-left: 0px;
}

/*************************
 * Paging
 *************************/
#searchpagination{
    padding: 20px 0 20px 0;
    clear: both;
}

#searchpagination ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#searchpagination li{
    display: inline;
}

#searchpagination ul li.curpage{
    color: #fff;
    background-color: #112E51;
    padding: 4px 8px;
}

#searchpagination ul li a{
    text-decoration: none;
    padding: 4px 8px;
    background-color: #F2F2F2;
}

#searchpagination ul li a:hover{
    color: #fff;
    background-color: #112E51;
}

#searchResultsItemsList {
    padding-top: 20px;
    min-height: 100px;
}

/* MEDIA QUERIES */

@media ( min-width : 960px) {
    #searchResultsOrganic.web, #searchResultsQuickAnswer{
        padding-right: 15px;
    }
}

@media ( min-width : 1260px) {
    #searchResultsOrganic.web, #searchResultsQuickAnswer {
        padding-right: 30px;
    }
    .ia-label, .ia-stat {
        font-size: 13px;
        letter-spacing: 0;
        color: #112E51;
    }
    .ia-label{
        line-height: 15px;
    }
    .ia-stat-value {
        padding: 2px 0px 5px 8px;
        font-size: 16px;
        letter-spacing: 0;
        color: #112E51;
    }
    .ui-menu .ui-menu-item .ia-system a {
        font-size: 10px;
        letter-spacing: 0;
        color: #112E51;
    }
    .ui-autocomplete-category {
        padding: 1px 0 1px 7px;
        font-size: 13px;
        letter-spacing: 0;
        color: #112E51;
    }
    .ui-menu .ui-menu-item a{
        font-size: 13px;
        padding: 2px 0.6em;
        letter-spacing: 0;
        color: #112E51;
    }
    .ui-menu .autocomplete-instant-answer.ui-menu-item{
        padding-bottom: 3px;
    }
}

@media ( max-width: 959px ) {
    #naicsContainer, #infoPanelContainer {
        border: 0px solid transparent;
        padding: 0px;
        margin: 0px;
    }
    #naicsHeader {
        padding: 0px;
        background: none;
    }
    #infoPanelHeader {
        background: none;
        padding: 0px;
    }
    .infoPanelDetail {
        padding: 3px 0px 0px 00px;
    }
}

#searchTypeSelect  {
    color: #FFF;
    background-color: #112E51;
    height: 40px;
    border-radius: 0px;
    font-size: small;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
}

#searchTypeSelector h4 {
    display: inline;
    line-height: 40px;
}

#searchTypeSelect option {
    height: 30px;
    text-transform: capitalize;
}

@media(min-width: 960px) {
    #searchResultsInfoPanel {
        margin-top: 40px;
    }
}

@media(max-width: 960px) {
    .disambiguation {
        margin : 0px 0px 0px;
    }
}

.customReset{
    font-weight: 600;
    font-size: 13px;
    line-height: 18.5667px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 10px;
    width: 45%;
    height: 60%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #ffffff;
    /*border-color: 2px solid #045FB4;
    border-color: 2px solid #045FB4 !important;*/
    border: 1px solid #045FB4;
    color: #045FB4;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#mypaneltitle{
    border-radius: 5px;
    height: 45px;
}

/*The following is for DataToolContainer Component */
.outerBox {
  /*width: 300px;*/
  height: 280px;
  display: block;
  position: relative;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.outerBox img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/*.outerBox*/ .innerBox {
  background: #112E51;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  opacity: .6;
  border-radius: 5px;
}

.outerBox .innerBox p {
  color: #fff;
  /*line-height: 150px;*/
  font-family: 'arial';
  text-align: left;
  padding-top: 50px;
  padding-left: 13px;
  font-size: 15px;
  font-weight: bold;
}

.dataToolBoxTitle, .dataToolBoxTeaser {
    color: #FFF;
    position: relative;
    z-index: 99;
}

.dataToolBoxTitle {
    font-weight: bold !important;
    font-size: 20px;
    padding: 13px;
}

.dataToolBoxTeaser {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
}

.paddedDiv {
    padding: 10px;
}

.actionButton {
    /*padding-top: 100px;
    padding-bottom: 25px;*/
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    padding-left: 13px;
    padding-bottom: 40px;
}

.dataToolBox .btn {
    min-width: 128px;
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
    position: relative;
    z-index: 99;
    background-color: rgba(108, 198, 204, 1) !important;
    border: 1px solid rgba(108, 198, 204, 1);
}

.onTop {
  /*position: relative;
  top: 4.7em;*/
  z-index: 99;
  /*margin-top: -271px;*/
}

.panel-title {
    padding-left: 10px;
}


.mobile-search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.mobile-search input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.mobile-search input { 
    text-indent: 15px;
    border: 1px solid #112E51;
    /*width: 279px;*/
    width: 100%;
    background-color: #FFFFFF;
    color: #112E51;
    font-weight: bold;
    height: 46px;
    border-radius: 0;
    margin: 15px 0px;
    padding-right: 35px;
}
.mobile-search .glyphicon-search { 
  position: absolute;
  top: 27px;
  /*right: -34px;*/
  right: 3%;
  color: #112E51;
  font-size: 26px;
  pointer: cursor;    
}

.mobileMenu ul.ui-autocomplete {    
    border: solid 0px #555;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 0;
}

#searchFormContainer #searchInputBox {
    margin-right: 0;
}

/*.outerBox:hover .innerBox {
  opacity: .9;
  transition: opacity .5s;
}*/

.ui-dialog.qaAnnotationTooltipWidget {
   outline: 0px none currentcolor;
    z-index: 1005;
    height: auto;
    width: auto;
    top: 183px;
    left: 1185px;
    display: block;
}

#qaAnnotationTooltip{
   background-color: #F2F2F2;
   max-width: 455px;
   font: small Arial,Verdana,sans-serif;
   height: 170px;
   padding-top: 0px;
   width: 455px;
   padding-bottom: 10px;
}

.qaAnnotationTooltipWidget .ui-widget-header{
    border: none;
    background: #F2F2F2;
 }

 .ui-dialog.searchTooltipWidget {
    outline: 0px none currentcolor;
    z-index: 1007;
    height: auto;
    width: auto;
    top: 183px;
    left: 1185px;
    display: block;
 }

#qaAnnotationTooltipLink{
    color: #0095A8;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 1px;
    display: block;
    float: left;
}

.ui-dialog.infoPanelAnnotationTooltipWidget {
    outline: 0px none currentcolor;
    z-index: 1012;
    height: auto;
    width: auto;
    top: 399px;
    left: 1185px;
    display: block;
}

#infoPanelAnnotationTooltip{
    background-color: #F2F2F2;
    height: 170px;
    width: 455px;
    max-width: 455px;
    font: small Arial,Verdana,sans-serif;
    padding-top: 0px;
}

.infoPanelAnnotationTooltipWidget .ui-widget-header {
    border: none;
    background: #F2F2F2;
 }
 #infoPanelAnnotationTooltipLink{
      cursor: pointer;
      padding-top: 5px;
      padding-left: 1px;
      float: left;
      color: #0095A8;
 }
.qaDivCell {
    float: left;
    display: table-column;
    width: 420px;
    width: auto;
    padding: 5px 0px 5px 0px;
}
.infoPanelDivCell {
    float: left;
    display: table-column;
    width: 420px;
    width: auto;
    padding: 5px 0px 5px 0px;
}